<h1>Add a link</h1>

<form action="/links" method="post">
  <label for="link">
    Please add a title
    <input type="text" name="title"><br>
    Please add the url
    <input type="text" name="url"><br>
  </label>
  <input type="submit" value="Add">
</form>
