<h1> Register </h1>
<%= flash[:error] if flash[:error] %>
<form action="/users" method="post">
  Email: <input type="text" name="email" value=<%= flash[:email] %>>
  Password: <input type="password" name="password">
  Confirm Password: <input type="password" name="confirm">
  <input type="submit" value="create">
</form>
