<%= flash[:error] %>
<form action="/users/sign_in" method="post">
  Email: <input type="text" name="email" value="<%= flash[:email] %>" required pattern = ".+@.+">
  Password: <input type="password" name="password" required>
  <input type="submit" value="Login">
</form>